header {
    background-color: #1D591B;
    padding: 20px 15px 30px 15px;
    min-height: 80px;
    height: 100px;
    margin-bottom: 25px;

    box-shadow: 0px 10px 15px 10px #1D591B;
}

/*mobile*/
h1 { 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 23px;
    color: #DAA520;
    text-align: center;
    margin-bottom: 15px;
    -webkit-text-stroke: 0.7px black;
}

p {
    color: #e4b02a;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 3px;
}

/*tablet*/
@media screen and (min-width: 480px) {
    h1 {
        font-size: 30px;
        -webkit-text-stroke: 0.5px black;
    }

    p {
        font-size: 18px;
    }
}
/*computador*/
@media screen and (min-width: 780px) {
    h1 {
        font-size: 40px;
        -webkit-text-stroke: 1px black;
    }

    p {
        font-size: 18px;
    }
}